<footer id="footer" style="background-color: oklch(0.865 0.127 207.078);" class="text-white py-4 w-full fixed bottom-0">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between">
      <div class="w-full sm:w-1/2">
        <div class="copyright text-center sm:text-left">
          <p>Copyright © 2025.cyokinbo</p>
        </div>
      </div>
    </div>
  </div>
</footer>